@import './variables.scss';

html,
body {
    padding: 0;
    margin: 0;
    background-color: $body-background;
    font-family: $font-primary;
    color: $font-blue;
}

a {
    text-decoration: none;
    color: $font-blue;
}

#content {
    width: 100%;
    margin-top: 110px;
}

.container {
    width: 1200px;
    margin: 0px auto;
    @media (max-width: $lg) {
        width: 1000px;
    }
    @media (max-width: $md) {
        width: 750px;
    }
    @media (max-width: $sm) {
        width: 700px;
    }
}

.sections {
    margin-bottom: 80px;
}
