@import './variables.scss';

body {
    padding: 0;
    margin: 0;
    background-color: $body-background;
    font-family: $font-primary;
    color: $font-blue;
}

a {
    text-decoration: none;
    color: $font-blue;
}
