@import './variables.scss';

@mixin primary-button {
    background-color: transparent;
    border-radius: 50px;
    border-width: 2px;
    border-style: solid;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin styledLabel {
    padding: 3px 6px;
    background-color: $font-blue;
    color: #fff;
    border-radius: 10px;
    text-align: center;
}
