@import './variables.scss';

@mixin primary-button {
    background-color: transparent;
    border-radius: 25%;
    border-width: 1px;
    border-style: solid;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}
