//colors
$dark-purple: #523b5d;
$purple: #963dc1;
$pink: #e5058a;
$font-blue: #2699fb;
$body-background: #f1f9ff;
$gray: #efefef;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap');
$font-primary: 'Open Sans', sans-serif;

//breakpoints
$xl: 1260px;
$sm: 768px;
