//colors
$purple: #523b5d;
$dark-purple: #58395f;
$pink: #e5058a;
$font-blue: #2699fb;
$body-background: #f1f9ff;
$gray: #efefef;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
$font-primary: 'Lato', sans-serif;

//breakpoints
$xl: 1200px;
$sm: 768px;
