//colors
$dark-purple: #523b5d;
$purple: #963dc1;
$pink: #e5058a;
$font-blue: #2699fb;
$red: #bb1a15;
$body-background: #f1f9ff;
$gray: #efefef;
$dark-gray: #d4d4d4;
$darkest-gray: #888888;
$black: #000;
$white: #fff;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap');
$font-primary: 'Open Sans', sans-serif;

//breakpoints
$xl: 1440px;
$lg: 1300px;
$sm: 768px;
