@import './variables.scss';
@import './mixin';

#about-section {
    .about-container {
        padding: 60px 0px;
        @include flex-column;
        .about-content {
            @include flex-row;
            @media (max-width: $lg) {
                @include flex-column-centered;
            }
            .about-header-wrapper {
                @include flex-column;
                justify-content: flex-end;
                width: 30%;
                @media (max-width: $lg) {
                    width: 70%;
                }
                h1 {
                    font-size: 60px;
                    font-weight: 600;
                    color: $dark-purple;
                    font-style: italic;
                    margin: 5px 0px;
                }
                div {
                    height: 5px;
                    width: 70%;
                    background-color: $dark-purple;
                    margin-bottom: 16px;
                }
            }
            .about-text-wrapper {
                @include flex-column;
                width: 70%;
                p {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 1.8;
                }
            }
        }
        .about-images-wrapper {
            box-sizing: border-box;
            display: grid;
            max-width: 1200px;
            grid-template-columns: repeat(8, 1fr);
            gap: 20px 20px;
            margin: 80px auto 0px auto;
            place-items: center;
            @media (max-width: $lg) {
                grid-template-columns: repeat(6, 1fr);
            }
            @media (max-width: $md) {
                grid-template-columns: repeat(5, 1fr);
            }
            div {
                @include paperBox;
                width: 135px;
                height: 135px;
                img {
                    width: 100%;
                }
            }
        }
        .action-wrapper {
            @include flex-row;
            justify-content: flex-end;
            align-items: center;
            margin-top: 90px;
            span {
                font-size: 18px;
                font-weight: 600;
                margin-right: 30px;
            }
            a {
                @include primary-button;
                @include flex-column-centered;
                border-color: $font-blue;
                width: 65px;
                height: 36px;
                svg {
                    fill: $font-blue;
                }
            }
        }
    }
}
