@import './variables.scss';
@import './mixin';

#header {
    display: flex;
    width: 100%;
    padding: 15px 0px;
    height: 55px;
    background-color: #fff;
    justify-content: center;
    #header-content {
        @include flex-row;
        align-items: center;
        justify-content: space-between;
        width: 1200px;
        margin: 0px auto;
        .navMenu-wrapper {
            ul {
                list-style: none;
                @include flex-row;
                font-weight: 600;
                margin: 0px;
                li {
                    margin: 0px 30px;
                }
            }
        }
    }
}
