@import './variables';
@import './mixin';

#positions-section {
    .positions-container {
        padding: 0px 0px 60px 0px;
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        h1 {
            margin-left: 30px;
            font-size: 40px;
            font-weight: 600;
            margin-bottom: 80px;
        }
    }
    .positionsImage-container {
        @include flex-row-centered;
        img {
            position: relative;
            top: -200px;
            left: -150px;
        }
    }
}
