@import './variables';
@import './mixin';

#top-section {
    .top-wrapper {
        box-sizing: border-box;
        position: relative;
        margin: 20px;
        height: 772px;
        background: transparent linear-gradient(113deg, $dark-purple 0%, $pink 100%) 0% 0% no-repeat padding-box;
        border-radius: 30px;
        overflow: hidden;
        padding: 75px 0px 50px 0px;
        .success-img {
            position: absolute;
            left: 480px;
            bottom: -220px;
            z-index: 100;
        }
        .vr-img {
            position: absolute;
            left: 1050px;
            bottom: 0px;
            z-index: 50;
            @media (max-width: $xl) {
                display: none;
            }
        }
        .path-svg {
            position: absolute;
            bottom: 0px;
            left: 420px;
            bottom: -20px;
            z-index: 75;
            @media (max-width: $xl) {
                display: none;
            }
        }
    }
}
